<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.system.dao.mapper.EmployeeMapper">

    <select id="getEmployeeByName" resultType="me.zhengjie.modules.system.domain.entity.EmployeeDO">
        SELECT id, name, user_id FROM tbl_sms_employee_info WHERE name = #{name} AND state = 0
    </select>

    <select id="getEmployeeById" resultType="me.zhengjie.modules.system.domain.entity.EmployeeDO">
        SELECT id, name, user_id FROM tbl_sms_employee_info WHERE id = #{id} AND state = 0
    </select>

    <select id="getAllEmployee" resultType="me.zhengjie.modules.system.domain.entity.EmployeeDO">
        SELECT id, name, user_id FROM tbl_sms_employee_info WHERE state = 0
    </select>
    <select id="getEmployeeByUserId" resultType="me.zhengjie.modules.system.domain.entity.EmployeeDO">
        SELECT id, name, user_id FROM tbl_sms_employee_info WHERE user_id = #{userId} AND state = 0
    </select>

</mapper>
