<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.system.dao.mapper.RequirementMapper">

    <resultMap id="RequirementMap" type="me.zhengjie.modules.system.domain.entity.RequirementDO">
        <result property="dueDate" column="due_date"/>
        <result property="businessLineId" column="businessline_id"/>
    </resultMap>
    <insert id="insertRequirement"
            keyProperty="id" parameterType="me.zhengjie.modules.system.domain.entity.RequirementDO">
        INSERT INTO tbl_sms_requirement_info (name, businessline_id, due_date, status, rec_crt_ts, rec_upd_ts)
        VALUES (#{name}, #{businessLineId}, #{dueDate}, #{status}, current_timestamp, current_timestamp)
    </insert>

    <update id="updateRequirement">
        UPDATE tbl_sms_requirement_info
        SET name=#{name},
            businessline_id=#{businessLineId},
            due_date=#{dueDate},
            status=#{status},
            rec_upd_ts=current_timestamp
        WHERE id = #{id}
          AND state = 0
    </update>

    <select id="findByRequirementName" resultType="me.zhengjie.modules.system.domain.entity.RequirementDO">
        SELECT *
        FROM tbl_sms_requirement_info
        WHERE name = #{name}
          AND state = 0
    </select>

    <update id="deleteRequirement">
        UPDATE tbl_sms_requirement_info
        SET state =1
        WHERE id = #{id}
          AND state = 0
    </update>

    <select id="findByRequirementId" resultType="me.zhengjie.modules.system.domain.entity.RequirementDO">
        SELECT *
        FROM tbl_sms_requirement_info
        WHERE id = #{id}
          AND state = 0
    </select>

    <select id="queryRequirementByPage" resultMap="RequirementMap">
        SELECT * FROM tbl_sms_requirement_info
        <where>
            state = 0
            <if test="businessLineId!=null and businessLineId!='' and businessLineId!=0">
                AND businessLine_id = #{businessLineId}
            </if>
            <if test="requirementName!=null and requirementName!=''">
                AND name like concat('%',#{requirementName},'%')
            </if>
        </where>
        order by status asc, rec_upd_ts desc
        <if test="pageSize != null and pageNum != null">
            limit #{offset}, #{pageSize}
        </if>
    </select>

    <select id="queryRequirementTotalCount" resultType="java.lang.Integer">
        select
        count(*)
        from
        (
        select
        *
        from tbl_sms_requirement_info
        <where>
            state = 0
            <if test="businessLineId!=null and businessLineId!='' and businessLineId!=0">
                AND businessLine_id = #{businessLineId}
            </if>
            <if test="requirementName!=null and requirementName!=''">
                AND name like concat('%',#{requirementName},'%')
            </if>
        </where>
        ) t2
    </select>

    <select id="queryTotalCountByBusinessLineId" resultType="java.lang.Integer">
        select
        count(*)
        from
        (
        select
        *
        from tbl_sms_requirement_info
        <where>
            state = 0
            <if test="businessLineId!=null and businessLineId!='' and businessLineId!=0">
                AND businessLine_id = #{businessLineId}
            </if>
        </where>
        ) t1
    </select>

    <select id="getRequirementByName" resultMap="RequirementMap">
        SELECT *
        FROM tbl_sms_requirement_info
        WHERE name = #{name}
          AND state = 0
    </select>

    <select id="queryReqByBusinessLineId" resultMap="RequirementMap">
        SELECT *
        FROM tbl_sms_requirement_info
        WHERE businessLine_id = #{businessLineId}
          AND state = 0
    </select>

</mapper>
