<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.unionpay.modules.system.dao.UserMapperV2">


    <select id="findAllUser" resultType="com.unionpay.modules.system.entity.UserDO">
        select * from sys_user where state = 0;
    </select>

    <select id="findByUsername" resultType="com.unionpay.modules.system.entity.UserDO">
        select * from sys_user where username = #{username} and state = 0;
    </select>

    <select id="findByEmail" resultType="com.unionpay.modules.system.entity.UserDO">
        select * from sys_user where email = #{email} and state = 0;
    </select>

    <select id="findByPhone" resultType="com.unionpay.modules.system.entity.UserDO">
        select * from sys_user where phone = #{phone};
    </select>

    <insert id="insertUser" parameterType="com.unionpay.modules.system.entity.UserDO">
        INSERT INTO sys_user (dept_id, username, nick_name, gender, phone, email, password, is_admin, enabled, create_time, update_time)
        VALUES (#{deptId}, #{username}, #{nickName}, #{gender}, #{phone}, #{email}, #{password}, #{isAdmin}, #{enabled}, current_timestamp , current_timestamp)
    </insert>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{password} WHERE username = #{username} and state = 0
    </update>

    <update id="updateEmail">
        UPDATE sys_user SET email = #{email} WHERE username = #{username} and state = 0
    </update>

    <update id="deleteUserById">
        UPDATE sys_user SET state = 1 WHERE user_id = #{userId} AND state = 0
    </update>

</mapper>
