<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.zhengjie.modules.system.dao.mapper.UserTestMapper">

<!--    <resultMap id="usersMap" type="me.zhengjie.modules.system.domain.entity.UserTestDO">-->
<!--        <id column="id" property="id" jdbcType="INTEGER"/>-->
<!--        <result column="name" property="name" jdbcType="VARCHAR"/>-->
<!--        <result column="age" property="age" jdbcType="INTEGER"/>-->
<!--    </resultMap>-->

    <select id="findAllUsers" resultType="me.zhengjie.modules.system.domain.entity.UserTestDO">
        select * from user_test_data;
    </select>

    <select id="findUserById" resultType="me.zhengjie.modules.system.domain.entity.UserTestDO">
        select * from user_test_data where id = #{id};
    </select>

</mapper>
